.facts {
  position: relative;

  &::after {
    content: 'Questions';
    position: absolute;
    right: 0;
    top: 0;
    @include ff-vollkorn;
    font-size: 180px;
    line-height: 165px;
    font-weight: 500;
    color: $blue-light;
    z-index: -1;

    @include tablet {
      font-size: 110px;
      line-height: 150px;
    }

    @include small-tablet {
      font-size: 90px;
      line-height: 100px;
    }

    @include mobile {
      font-size: 55px;
      line-height: 75px;
      top: 110px;
    }
  }

  &__container {
    padding-top: 135px;
    padding-bottom: 110px;

    @include big-desktop {
      padding: 95px 134px 110px;
    }

    @include extra-desktop {
      padding-left: 100px;
      padding-right: 100px;
    }

    @include tablet {
      padding-top: 75px;
      padding-bottom: 75px;
    }

    @include small-tablet {
      padding: 50px 60px;
    }

    @include mobile {
      padding: 20px 30px 50px;
    }
  }

  &__subheading {
    margin-bottom: 5px;
    @include vollkron-28;
    @include ff-open-sans;
    color: $gold;
  }

  &__heading {
    margin-bottom: 55px;
    @include heading-style;
    @include ff-cormorant;

    @include tablet {
      margin-bottom: 40px;
    }
  }
}

.accordion {
  &__heading {
    margin-bottom: 35px;
    @include heading-style;
    @include ff-cormorant;
    font-size: 45px;
    line-height: 55px;
    text-transform: none;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 75px 70px;
    background-color: $gray-transparent;

    @include tablet {
      padding: 0 40px 50px;
    }

    @include small-tablet {
      flex-direction: column;
      gap: 30px;
    }

    @include mobile {
      flex-direction: column;
      margin-bottom: 10px;
      padding: 0 20px 10px;
    }
  }

  &__content-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 36px 30px 75px;
    font-size: 40px;
    line-height: 48px;
    color: $black;
    font-weight: 700;
    @include ff-cormorant;
    background-color: $gray-transparent;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    @include tablet {
      font-size: 35px;
      line-height: 40px;
    }

    @include small-tablet {
      font-size: 30px;
      line-height: 35px;
    }

    @include tablet {
      padding: 23px 40px;
    }

    @include mobile {
      padding: 10px 20px;
      font-size: 20px;
      line-height: 22px;
    }

    &:hover {
     text-decoration: underline;
    }

    &:focus {
      outline: 2px solid $black;
    }

    &:active {
      text-decoration: none;
      font-weight: 700;
    }
  }

  .mt-35 {
    margin-top: 35px;

    @include mobile {
      margin-top: 15px;
    }
  }

  &__cross {
    width: 40px;
    height: 40px;
    fill: #000;
    stroke: #000;
    transform: none;
    transition: transform .3s ease-in-out;

    @include mobile {
      width: 20px;
      height: 20px;
    }
  }

  &__list {
    max-width: 477px;

  }

  &__item:not(:last-child) {
    margin-bottom: 1em;
  }

  &__item {
    @include open-sans-18;
  }

  &__item-heading {
    margin-bottom: 14px;
    @include vollkron-28;
    @include ff-open-sans;
    color: $gold-dark;

    @include mobile {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.list-positive {
  margin-right: 67px;

  @include small-tablet {
    margin-right: 50px;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.ui-accordion-header-icon {
  display: none;
}


.ui-accordion-header-active .accordion__cross {
  transform: rotateZ(135deg);
}

#accordion-1 {
  margin-bottom: 35px;
}
