.footer {
  background-color: $black-background;

  &__container {
    padding: 85px 35px 37px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    @include tablet {
      padding-top: 50px;
      padding-bottom: 15px;
    }

    @include small-tablet {
      grid-template-columns: repeat(8, 1fr);
      row-gap: 25px;
    }

    @include mobile {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__left {
    grid-area: 1 / 1 / 2 / 4;
  }

  &__center {
    grid-area: 1 / 5 / 2 / 8;

    @include small-tablet {
      grid-area: 1 / -1 / 2 / -3;
    }
  }

  &__right {
    grid-area: 1 / -1 / 2 / -3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 55px;

    @include small-tablet {
      grid-area: 2 / 1 / 3 / -1;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: $white;
    margin-top: 24px;
    text-align: center;

    @include mobile {
      order: 3;
      // mt0
    }
  }

  &__link {
    display: none;
  }

  &__tel {
    display: block;
    @include open-sans-18;
    font-weight: 300;
    color: $white
  }

  &__offer {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: $white;
    margin-top: 24px;
    text-decoration: underline;

    @include mobile {
      display: block;
    }
  }

  &__bottom {
    max-width: 1720px;
    margin: 0 auto;
    padding: 60px 35px 30px;
    display: flex;
    flex-direction: column;

    @include big-desktop {
      padding-top: 40px;
    }

    @include tablet {
      padding-top: 20px;
    }
  }

  &__btn {
    display: block;
  }
}

.social {
  padding-right: 23px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @include mobile {
    order: 1;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__item:hover .social__icon {
    fill: $white;
  }

  &__link:focus {
    outline: none;
  }

  &__link:focus .social__icon {
    fill:  $white;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $gray-transparent;
    cursor: pointer;
    transition: fill .3s ease-in-out;

    &:hover, &:focus {
      outline: none;
    }


  }
}

.tippy-content {
  padding: 10px 20px !important;
  background-color: $gray-background !important;
}

.footer__logo {
  margin-right: 17px;

  @include mobile {
    width: 44px;
    height: 44px;
    margin-right: 10px;
  }
}

.logo__footer {
  @include mobile {
    order: 2;
    margin-bottom: 15px;
  }
}

.footer-nav {
  @include tablet {
    display: block;
  }

  &__link, &__item {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: $white;

    @include big-desktop {
      font-size: 18px;
      line-height: 20px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.service-nav {
  padding-top: 10px;

  &__link {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: $white;

    @include tablet {
      font-size: 13px;
      line-height: 18px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 22px;
  }
}
