.footer {
  background-color: $black-background;

  &__container {
    padding: 40px 35px;
    padding-bottom: 37px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__copyright {
    flex-basis: 100%;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: $white;
    margin-top: 24px;
    text-align: center;

    @include mobile {
      order: 3;
      // mt0
    }
  }

  &__link {
    display: none;
  }

  &__tel {
    display: block;
    @include open-sans-18;
    font-weight: 300;
    color: $white
  }

  &__offer {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: $white;
    margin-top: 24px;
    text-decoration: underline;
  }
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @include mobile {
    order: 1;
    margin-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $white;
  }
}

.tippy-content {
  padding: 10px 20px !important;
  background-color: $gray-background !important;
}

.footer__logo {
  width: 44px;
  height: 44px;

  @include mobile {
    margin-right: 10px;
  }
}

.logo__footer {
  @include mobile {
    order: 2;
    margin-bottom: 15px;
  }
}
