.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 5;
  transform: translateY(0);
  transition: transform .3s ease-in-out, background-color .3s ease-in-out;

  &__container {
    max-width: 1720px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 35px;

    @include mobile {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__nav {
    margin-left: auto;
  }

  &__btn {
    @include btn-primary;

    @include tablet {
      display: none;
    }
  }

  &__logo {
    margin-right: 16px;

    @include tablet {
      max-width: 74px;
      max-height: 74px;
    }

    @include mobile {
      max-width: 44px;
      max-height: 44px;
    }
  }
}

.nav  {
  margin-right: 37px;

  @include big-desktop {
    margin-right: $dinamic-margin;
  }

  @include tablet {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 37px;

    @include big-desktop {
      margin-right: 25px;
    }

    @include extra-desktop {
      margin-right: 15px;
    }
  }

  &__link {
    @include open-sans-18;
    color: $white;
    position: relative;
    padding: 0 4px;
    border: 1px solid transparent;
    transition: border-color .3s ease-in-out, font-weight .3s ease-in-out;

    @include extra-desktop {
      font-size: 16px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      border-bottom: 1px solid transparent;
      transition: border-color .3s ease-in-out;
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: none;
      border-color: $white;
    }

    &:active, &:active::after {
      font-weight: 700;
      text-decoration: none;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &:focus {
    outline: 2px solid $white;
  }

  &__title {
    @include open-sans-18;
    line-height: 23px;
    @include ff-vollkorn;
    color: $gray-light;
    transition: color .3s ease-in-out;
    text-transform: none;

    @include tablet {
      font-size: 16px;
      line-height: 26px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__text {
    @include vollkron-28;
    line-height: 37px;
    color: $gray-light;
    transition: color .3s ease-in-out;
    text-transform: uppercase;

    @include tablet {
      font-size: 26px;
      line-height: 26px;
    }

    @include mobile {
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.header-scroll {
  background-color: #f5f5f5;
}

.text-scroll {
  color: $black;
}

.border-scroll {
  border-color: $black;
}

.hide {
  transform: translateY(-101%);
  transition: transform .3s ease-in-out;
  z-index: 1;
}

.burger {
  display: none;

  @include tablet {
    @include burger;
  }
}


.burger-nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 160px 114px;
  height: 100vh;
  background-color: $white;
  text-align: center;
  transform: translateX(101%);
  transition: transform .3s ease-in-out;
  z-index: 11;

  @include small-tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include mobile {
    width: 100vw;
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 28px;
  }

  &__item {
    @include open-sans-18;
  }

  &__link {
    color: $black;
  }

  &__item:not(:last-child) {
    margin-bottom: 28px;
  }

  &__btn {
    @include btn-primary;
    color: $black;
    border-color: $black;
    margin-bottom: 109px;
  }

  &__social {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }

  &__icon {
    width: 23px;
    height: 23px;
  }

  &__tel {
    fill: $white;
    stroke: $black;
    stroke-width: 3px;
  }

  &__cross {
    position: absolute;
    top: 31px;
    right: 31px;
    width: 30px;
    height: 30px;
    stroke: $black;
  }
}

.burger-social {
  &__item:not(:last-child) {
    margin-right: 25px;
  }
}

.burger-scroll {
  background-color: $black;
}

.is-open {
  transform: none;
}
