.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  transition: background-color .3s ease-in-out;
  z-index: 5;
  transform: translateY(0);
  transition: transform .3s ease-in-out;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 35px;
  }

  &__nav {
    margin-left: auto;
  }

  &__btn {
    @include btn-primary;
  }

  &__logo {
    margin-right: 16px;
  }
}

.nav {
  margin-right: 37px;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 37px;
  }

  &__link {
    @include open-sans-18;
    color: $white;
    transition: color .3s ease-in-out;

    &:hover {
      color: #263b69;
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &__title {
    @include open-sans-18;
    line-height: 23px;
    font-family: 'Vollkorn', 'OpanSans', 'sans-serif';
    color: $gray-light;
    transition: color .3s ease-in-out;
  }

  &__text {
    @include vollkron-28;
    line-height: 37px;
    color: $gray-light;
    transition: color .3s ease-in-out;
  }
}

.header-scroll {
  background-color: $white;
}

.text-scroll {
  color: $black;
  border-color: $black;
}

.hide {
  transform: translateY(-101%);
  transition: transform .3s ease-in-out;
  z-index: 1;
}
