.hero {
  background: url('../img/hero-background.jpg') center center no-repeat transparent;
  background-size: cover;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 65px;
    padding: 236px 165px 237px 0;

    @include big-desktop {
      padding-right: $dinamic-padding;
    }

    @include tablet {
      padding-left: 70px;
      column-gap: 30px;
    }

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include mobile {
      padding-top: 112px;
      padding-right: 20px;
      padding-bottom: 85px;
      padding-left: 20px;
      column-gap: 20px;
    }
  }

  &__heading {
    grid-area: 2 / 7 / 3 / 13;
    max-width: 553px;
    margin-bottom: 29px;
    @include ff-vollkorn;
    font-family: 'Vollkorn', 'OpenSans', 'sans-serif';
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
    color: $gold-dark;
    text-transform: uppercase;

    @include tablet {
      grid-area: 2 / 1 / 3 / 10;
    }

    @include small-tablet {
      grid-area: 2 / 1 / 3 / 7;
      font-size: 40px;
      line-height: 55px;
    }

    @include mobile {
      grid-auto-flow: 2 / 1 / 3 / 7;
      font-size: 25px;
      line-height: 35px;
    }
  }

  &__descr {
    grid-area: 1 / 7 / 2 / 11;
    max-width: 374px;
    margin-bottom: 29px;
    @include open-sans-18;
    color: $white;

    @include tablet {
      grid-area: 1 / 1 / 2 / 7;
    }

    @include small-tablet {
      grid-area: 1 / 1 / 2 / 5;
    }

    @include mobile {
      grid-area: 1 / 1 / 2 / 7;
    }
  }

  &__btn {
    grid-area: 3 / 7 / 4 / 13;
    margin-left: auto;
    @include btn-primary;

    @include tablet {
      grid-area: 3 / 1 / 4 / 3;
      margin-left: 0;
      margin-right: auto;
    }

    @include small-tablet {
      grid-area: 3 / 1 / 4 / 3;
    }

    @include mobile {
      padding: 11px 12px;
      grid-area: 3 / 1 / 4 / 3;
    }
  }
}
