.quote {
  &__container {
    padding: 0 195px;
    padding-top: 39px;
    padding-bottom: 122px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include tablet {
      padding: 0 70px;
      padding-bottom: 70px;
      grid-template-columns: repeat(8, 1fr);
    }

    @include small-tablet {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include mobile{
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 77px;
      padding-left: 20px;
    }
  }

  &__content {
    grid-area: 1 / 1 / 2 / 10;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include tablet {
      grid-area: 1 / 1 / 2 / 8;
    }

    @include mobile {
      grid-area: 1 / 1 / 2 / 9;
      align-items: flex-start
    }
  }

  &__heading {
    @include vollkron-28;
    color: $gold-dark;

    @include mobile {
      margin-bottom: 6px;
    }
  }

  &__author {
    margin-bottom: 6px;
    @include vollkron-28;

    @include tablet {
      padding-right: 70px;
    }

    @include mobile {
      padding-right: 0;
      padding-left: 15px;
      margin-bottom: 15px;
    }
  }

  &__descr {
    @include open-sans-18;

    @include tablet {
      max-width: 386px;
      padding-right: 60px;
    }

    @include mobile {
      max-width: 230px;
      padding-right: 0;
    }
  }

  &__photo {
    grid-area: 1 / 10 / 2 / 13;

    @include tablet {
      width: 120px;
      height: 120px;
      grid-area: 1 / -1 / 2 / -3;
      margin-left: auto;
    }

    @include mobile {
      width: 70px;
      height: 70px;
      transform: translate(-0px, -20px);
      align-self: end;
    }
  }
}
