.request {
  background-color: #475676;

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__heading {
    margin-bottom: 69px;
    font-family: 'Vollkorn', 'OpenSans', 'sans-serif';
    font-size: 36px;
    line-height: 53px;
    font-weight: 500;
    color: $white;
  }

  &__text {
    display: block;
  }
}

.form-main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 16px;


  &__input {
    width: 100%;
    padding: 23.5px 36px;
    background-color: $gray-transparent;
    border-radius: 3px;
    @include open-sans-18;

    &::placeholder {
      @include open-sans-18;
      opacity: .42;
    }
  }

  &__label {
    position: relative;
    // display: inline-flex;
    // flex-direction: column-reverse;
  }

  &__label-name {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  &__label-tel {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: end;
  }

  &__submit {
    grid-area: 1 / -1 / 2 / -3;
    @include btn-primary;
    max-height: 72px;
    font-weight: 600;
  }

  &__checkbox {
    grid-area: 2 / 1 / 3 / 7;
    position: relative;
  }

}

.custom-checkbox {
  @include custom-checkbox;
}

.js-validate-error-label {
  position: absolute;
  left: 0;
  top: -22px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
}

.js-validate-error-label:nth-child(1) {
  top: auto;
  bottom: -22px;
}


