.request {
  background-color: #475676;

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__heading {
    margin-bottom: 69px;
    @include ff-vollkorn;
    font-size: 36px;
    line-height: 53px;
    font-weight: 500;
    color: $white;

    @include tablet {
      margin-bottom: 35px;
      font-size: 26px;
      line-height: 36px;
    }
  }

  &__text {
    display: block;
  }

  &__agreement {
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: $white;
  }

  &__link {
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: $white;
    text-decoration: underline;
    cursor: pointer;
  }
}

.form-main {
  margin-bottom: 16px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 16px;

  @include tablet {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }

  &__input {
    width: 100%;
    padding: 23.5px 36px;
    background-color: $gray-transparent;
    border-radius: 3px;
    @include open-sans-18;

    &::placeholder {
      @include open-sans-18;
      opacity: .42;
    }
  }

  &__label {
    position: relative;
  }

  &__label-name {
    grid-area: 1 / 1 / 2 / 6;

    @include tablet {
      grid-area: 1 / 1 / 2 / 4;
    }
  }

  &__label-tel {
    grid-area: 1 / 6 / 2 / 11;
    text-align: end;

    @include tablet {
      grid-area: 1 / 4 / 2 / 7;
    }
  }

  &__submit {
    grid-area: 1 / -1 / 2 / -3;
    @include btn-primary;
    max-height: 72px;
    font-weight: 600;
  }
}

.just-validate-error-label {
  position: absolute;
  left: 0;
  top: -22px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;
}


