.request {
  background-color: #475676;

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;

    @include mobile {
      padding-top: 30px;
      padding-bottom: 36px;
    }
  }

  &__heading {
    margin-bottom: 69px;
    @include ff-vollkorn;
    font-size: 36px;
    line-height: 53px;
    font-weight: 500;
    color: $white;

    @include tablet {
      margin-bottom: 35px;
      font-size: 26px;
      line-height: 36px;
    }

    @include mobile {
      margin-bottom: 13px;
    }
  }

  &__text {
    display: block;
  }

  &__agreement {
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: $white;
    opacity: .42;
  }

  &__link {
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    color: $white;
    text-decoration: underline;
    cursor: pointer;

    &:hover, &:focus {
      outline: 2px solid $white;
      text-decoration: none;
    }

    &:active {
      font-weight: 700;
    }
  }

}

.form-main {
  margin-bottom: 16px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 16px;

  @include tablet {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 20px;
  }

  &__input {
    width: 100%;
    padding: 23.5px 36px;
    background-color: $gray-transparent;
    border-radius: 3px;
    @include open-sans-18;
    transition: background-color .3s ease-in-out;

    @include mobile {
      padding-left: 20px;
    }

    &:hover {
      background-color: $gray-hover
    }

    &:focus {
      outline: 2px solid $black;
      background-color: $gray-hover;
    }

    &::placeholder {
      @include open-sans-18;
      opacity: .42;
    }
  }

  &__label {
    position: relative;

    @include small-tablet {
      display: flex;
      flex-direction: column-reverse;
      align-items: start;
    }
  }

  &__label-name {
    grid-area: 1 / 1 / 2 / 6;

    @include tablet {
      grid-area: 1 / 1 / 2 / 4;
    }

    @include small-tablet {
      grid-area: 1 / 1 / 2 / 9;
    }
  }

  &__label-tel {
    grid-area: 1 / 6 / 2 / 11;
    text-align: end;

    @include tablet {
      grid-area: 1 / 4 / 2 / 7;
    }

    @include small-tablet {
      grid-area: 2 / 1 / 3 / 9;
    }
  }

  &__submit {
    grid-area: 1 / -1 / 2 / -3;
    @include btn-primary;
    max-height: 72px;
    font-weight: 600;

    @include small-tablet {
      grid-area: 3 / 1 / 4 / 3;
    }

    @include mobile {
      grid-area: 3 / 1 / 4 / 9;
      max-width: 120px;
    }
  }
}

.just-validate-error-label {
  position: absolute;
  left: 0;
  top: -22px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: left;

  @include small-tablet {
    position: relative;
    top: 0;
    margin-bottom: 8px;
  }
}


