.reviews {
  &__container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 203px;

    @include tablet {
      padding-bottom: 85px;
    }

    @include mobile {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &::after {
      content: 'Feedback';
      position: absolute;
      top: 206px;
      left: 50%;
      transform: translateX(-50%);
      @include ff-vollkorn;
      font-size: 250px;
      line-height: 349px;
      font-weight: 500;
      color: $blue-light;
      z-index: -1;

      @include tablet {
        font-size: 140px;
        line-height: 190px;
      }

      @include small-tablet {
        font-size: 110px;
        line-height: 150px;
      }

      @include mobile {
        top: 146px;
        font-size: 75px;
        line-height: 76px;
      }
    }
  }

  &__heading {
    @include heading-style;
    @include ff-cormorant;
    margin-bottom: 157px;

    @include small-tablet {
      margin-bottom: 110px;
    }

    @include mobile {
      margin-bottom: 70px;
    }
  }


  &__text {
    display: block;
  }
}

.reviews-swiper {
  &__slide {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__picture {
    margin-bottom: 26px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__name, &__age {
    @include vollkron-28;
    @include ff-open-sans;
  }

  &__age {
    max-width: 85px;
    margin: 0 auto 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $gold-dark;

    @include mobile {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }

  &__story, &__final {
    max-width: 1235px;
    margin: 0 auto;
  }

  &__story {
    @include vollkron-28;
    @include ff-cormorant;
    font-weight: 700;
    margin-bottom: 39px;

    @include tablet {
      font-size: 18px;
      line-height: 25px;
    }

    @include small-tablet {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__final {
    @include vollkron-28;
    @include ff-cormorant;
    font-weight: 700;

    @include tablet {
      font-size: 18px;
      line-height: 25px;
    }

    @include small-tablet {
      font-size: 16px;
      line-height: 19px;
    }
  }


  &__navigation {
    max-width: 200px;
    margin: 0 auto;

    @include tablet {
      max-width: 110px;
    }

    @include mobile {
      max-width: 130px;
    }
  }
}

.arrow-wrapper {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: $arrow-bg;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: $gold;
  }

  @include big-desktop {
    width: 65px;
    height: 65px;
  }

  @include tablet {
    width: 50px;
    height: 50px;
  }
}

.arrow-wrapper:first-child {
  margin-right: 20px;
}

.reviews-swiper__arrow-bw {
  transform: rotate(180deg);
}
