.reviews {
  &__container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 203px;

    &::after {
      content: 'Feedback';
      position: absolute;
      top: 206px;
      left: 50%;
      transform: translateX(-50%);
      font-family: 'Vollkorn', 'OpenSans', 'sans-serif';
      font-size: 250px;
      line-height: 349px;
      font-weight: 500;
      color: $blue-light;
      z-index: -1;

    }
  }

  &__heading {
    @include heading-style;
    line-height: 53px;
    margin-bottom: 157px;
  }

  &__text {
    display: block;
  }
}

.reviews-swiper {
  &__slide {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-bottom: 40px;
  }

  &__picture {
    margin-bottom: 26px;
  }

  &__name, &__age {
    @include vollkron-28;
    font-family: 'OpenSans', 'Vollkorn';
  }

  &__age {
    max-width: 85px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $gold-dark;
  }
  
  &__story, &__final {
    max-width: 1139px;
    margin: 0 auto;
  }

  &__story {
    @include vollkron-28;
    margin-bottom: 39px;
  }

  &__final {
    @include vollkron-28;
    font-weight: 600;
  }


  &__navigation {
    max-width: 160px;
    margin: 0 auto;
  }
}
