.reviews {
  &__container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 203px;

    @include tablet {
      padding-bottom: 85px;
    }

    @include mobile {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    &::after {
      content: 'Feedback';
      position: absolute;
      top: 206px;
      left: 50%;
      transform: translateX(-50%);
      @include ff-vollkorn;
      font-size: 250px;
      line-height: 349px;
      font-weight: 500;
      color: $blue-light;
      z-index: -1;

      @include tablet {
        font-size: 140px;
        line-height: 190px;
      }

      @include small-tablet {
        font-size: 110px;
        line-height: 150px;
      }

      @include mobile {
        top: 146px;
        font-size: 75px;
        line-height: 76px;
      }
    }
  }

  &__heading {
    @include ff-vollkorn;
    @include heading-style;
    line-height: 53px;
    margin-bottom: 157px;

    @include small-tablet {
      margin-bottom: 110px;
    }

    @include mobile {
      margin-bottom: 70px;
    }
  }


  &__text {
    display: block;
  }
}

.reviews-swiper {
  &__slide {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__picture {
    margin-bottom: 26px;

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__name, &__age {
    @include vollkron-28;
    @include ff-open-sans;
  }

  &__age {
    max-width: 85px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid $gold-dark;

    @include mobile {
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }

  &__story, &__final {
    max-width: 1139px;
    margin: 0 auto;
  }

  &__story {
    @include vollkron-28;
    margin-bottom: 39px;

    @include tablet {
      font-size: 18px;
      line-height: 25px;
    }

    @include small-tablet {
      font-size: 16px;
      line-height: 21px;
    }
  }

  &__final {
    @include vollkron-28;
    font-weight: 600;

    @include tablet {
      font-size: 18px;
      line-height: 25px;
    }

    @include small-tablet {
      font-size: 16px;
      line-height: 19px;
    }
  }


  &__navigation {
    max-width: 160px;
    margin: 0 auto;

    @include tablet {
      max-width: 110px;
    }
  }
}
