.services {
  position: relative;

  &::after {
    content: 'Company Products';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 10.42vw;
    line-height: 300px;
    font-weight: 500;
    @include ff-vollkorn;
    color: $blue-light;

    @include big-desktop {
      font-size: 150px;
      line-height: 250px;
      bottom: 45px;
    }

    @include tablet {
      font-size: 11.5vw;
    }

    @include small-tablet {
      line-height: 150px;
    }

    @include mobile {
      line-height: 50px;
    }
  }

  &__container {
    padding-top: 102px;
    padding-bottom: 145px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;

    @include tablet {
      padding-top: 70px;
    }

    @include small-tablet {
      padding-top: 50px;
      padding-bottom: 75px;
    }

    @include mobile {
      grid-template-columns: repeat(6, 1fr);
      padding-top: 45px;
      padding-bottom: 62px;
    }
  }

  &__heading {
    grid-area: 1 / 1 / 2 / 3;
    margin-bottom: 70px;
    @include heading-style;
    @include ff-cormorant;

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      grid-area: 1 / 1 / 2 / 7;
      margin-bottom: 10px;
    }
  }

  &__btn {
    grid-area: 3 / 1 / 4 / 7;
    @include btn-primary;
    max-width: 240px;
    padding: 17px 24px;
    font-size: 28px;
    line-height: 36px;
    color: $black;
    border-color: $black;

    &:focus::after {
      border-color: $black;
    }

    @include big-desktop {
      max-width: 161px;
    }

    @include small-tablet {
      padding-right: 16px;
      padding-left: 16px;
      max-width: 145px;
    }

    @include mobile {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

.services-slider {
  grid-area: 2 / 1 / 3 / 13;
  width: 100%;
  margin-bottom: 70px;

  @include mobile {
    grid-area: 2 / 1 / 3 / 7;
    margin-bottom: 25px;
  }

  &__slide {
    @include big-desktop {
      display: flex;
      align-items: stretch;
    }
  }
}

.slider-navigation {
  grid-area: 3 / -1 / 4 / -5;
  display: flex !important;
  justify-content: space-between;
  align-items: center;

  &__arrow {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    width: 53px !important;
    height: 20px !important;
    margin-top: 0 !important;
    fill: $white !important;
    z-index: 1 !important;
    transition: fill .3s ease-in-out;

    @include tablet {
      width: 46px !important;
      height: 15px !important;
    }

    @include mobile {
      width: 25px !important;
    }
  }
}

.mw-200 {
  max-width: 200px;
}

.service-card {
  padding: 90px 59px;
  background-color: $gray-E4;

  @include big-desktop {
    padding: 90px 35px;
    //height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @include mobile {
    padding: 30px 15px;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 56px;

    @include mobile {
      margin-bottom: 35px;
    }
  }

  &__icon {
    width: 87px;
    height: 72px;
    margin-right: 13px;
  }

  &__heading {
    @include vollkron-28;
    @include ff-cormorant;
    font-weight: 700;
    color: $black;
    text-transform: uppercase;

    @include big-desktop {
      max-width: 300px;
      font-size: 23px;
      line-height: 28px;
    }
  }

  &__descr {
    @include open-sans-18;
    margin-bottom: 69px;

    @include mobile {
      margin-bottom: 45px;
    }
  }

  &__link {
    position: relative;
    padding: 20px 40px;
    font-size: 25px;
    line-height: 34px;
    font-weight: 400;
    color: $black;
    border: 1px solid $black;
    border-radius: 3px;
    transition: border-color .3s ease-in-out, color .3s ease-in-out, background-color .3s ease-in-out;

    @include big-desktop {
      display: block;
      max-width: 180px;
      margin-top: auto;
      font-size: 20px;
      line-height: 25px;
      padding: 20px 30px;
    }

    @include mobile {
      padding: 15px 25px;
      font-size: 15px;
      line-height: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border: 2px solid transparent;
      transition: border-color .3s ease-in-out;
    }

    &:hover {
      color: $white;
      background-color: $gold;
      border-color: $gold;
    }

    &:focus {
      outline: none;
    }

    &:focus::after {
      border-color: $gold;
    }

    &:active {
      background-color: $gold-dark;
      border-color: $gold-dark;
      color: $white;
    }
  }
}
