/* stylelint-disable */

@mixin burger {
  --burger-width: 41px;
  --burger-height: 20px;
  --burger-line-height: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: none;
  padding: 0;
  margin-left: auto;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;

  @include mobile {
    width: 23px;
    height: 11px;
  }

  &__line {
    width: 100%;
    height: var(--burger-line-height);
    background-color: $white;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out, background-color .3s ease-in-out;
    border-radius: 4px;

    @include mobile {
      height: 2px;
    }
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.bg-black {
  background-color: $black !important;
}
