@mixin ff-vollkorn {
  font-family: 'Vollkorn', 'OpenSans', 'sans-serif';
}

@mixin ff-open-sans {
  font-family: 'OpenSans', 'Vollkorn', 'sans-serif';
}

@mixin ff-cormorant {
  font-family: 'Cormorant', 'OpenSans', 'sans-serif';
}
