@mixin heading-style {
  font-size: 60px;
  line-height:73px;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  font-style: normal;

  @include big-desktop {
    font-size: 45px;
    line-height: 55px;
  }

  @include tablet {
    font-size: 30px;
    line-height: 35px;
  }

  @include mobile {
    font-size: 30px;
    line-height: 35px;
  }
}
