@mixin heading-style {
  font-size: 41px;
  line-height: 57px;
  font-weight: 500;
  color: $black;
  text-transform: uppercase;

  @include tablet {
    font-size: 26px;
    line-height: 36px;
  }
}
