@mixin open-sans-18 {
  font-family: 'OpenSans', 'Vollkorn', 'sans-serif';
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: $black;

  @include tablet {
    font-size: 16px;
    line-height: 21px;
  }

  @include mobile {
    font-size: 14px;
    line-height: 19px;
  }
}

@mixin vollkron-28 {
  font-family: 'Vollkorn', 'sans-serif';
  font-size: 28px;
  line-height: 39px;
  font-weight: 400;
  color: $black;

  @include tablet {
    font-size: 26px;
    line-height: 36px;
  }

  @include mobile {
    font-size: 18px;
    line-height: 21px;
  }
}
