<section class="about-what about-page">
  <div class="container about-page__container">
    <h2 class="heading-reset about-page__heading">
      Что <span class="style-italic">мы</span> можем?
    </h2>
    <ul class="about-page__list list-reset">
      <li class="about-page__item">
        — Провести тщательный предварительный анализ и индивидуально подойти к ситуации клиента.
      </li>
      <li class="about-page__item">
        — Подобрать продукт нашей компании под возможности клиента.
      </li>
      <li class="about-page__item">
        — Предложить удобный способ оплаты наших услуг без каких-либо авансовых платежей.
      </li>
      <li class="about-page__item">
        — Провести большой объем досудебной работы — это проведение антиколлекторских действий,
        восстановление платежеспособности клиента (снятие ареста с банковских карт).
      </li>
      <li class="about-page__item">
        — Сопроводить клиента на протяжении всей процедуры банкротства /  кредитной реструктуризации.
      </li>
      <li class="about-page__item">
        — Обеспечить полное взаимодействие с Арбитражным управляющим (контролировать ежемесячную
        выплату прожиточного минимума, подготовить необходимые заявления, сформировать конкурсную массу).
      </li>
      <li class="about-page__item">
        — Поддержать клиента на всех этапах работы.
      </li>
      <li class="about-page__item">
        — Отстоять ваши права.
      </li>
      <li class="about-page__item">
        — Самостоятельно отслеживать и контролировать судебные процессы.
      </li>
    </ul>
  </div>
</section>
