<section class="about" id="about">
  <div class="container about__container">
    <h3 class="heading-reset about__subheading">
      Наши принципы
    </h3>
    <h2 class="about__heading about__heading-1 heading-reset">
      Индивидуальный подход и высокое качество
    </h2>
    <div class="about__descr about__descr-1">
      <p class="heading-reset">Миссия компании «Правовая защита» проста — наша работа — ваша спокойная жизнь.</p> Благодаря открытой коммуникации и классному сервису мы научим вас выбираться из «долговой ямы».
    </div>
    <h2 class="about__heading about__heading-2 heading-reset">
      Бояться, но делать!
    </h2>
    <div class="about__descr about__descr-2">
      Мы всегда поддержим вас, и поможем сделать первый шаг на пути к жизни без долгов.
    </div>
    <h2 class="about__heading about__heading-3 heading-reset">
      Выход есть!
    </h2>
    <div class="about__descr about__descr-3">
      Наши слаженные действия ведут к результату, вы поймёте, что безвыходных ситуаций не бывает. Вместе мы сила!
    </div>
  </div>
</section>
