<section class="about-who about-page">
  <div class="container about-page__container">
    <h2 class="heading-reset about-page__heading">
      Кто <span class="style-italic">мы?</span>
    </h2>
    <div class="about-page__description">
      <p class="about-page__paragraph heading-reset">
        Мы — слаженная команда, состоящая из единомышленников,
        знающих свое дело! Мы помогаем людям вернуть веру в себя и дать им шанс на новую жизнь — жизнь без долгов!
        Для достижения конечной цели у нас есть и инструменты, и бесценный опыт!
      </p>
      <p class="about-page__paragraph heading-reset">
        Наша команда на рынке юридических услуг 3-й год.
        К сожалению, общий подход рынка юридических услуг в области банкротства — это «срубить» денег!
        Нас такой подход не устраивает!
        После того как пришло понимание, что нет такого работодателя, который бы разделял наши ценности, мы открыли
        свою компанию и стали работать с клиентами так как считаем нужным, достигая максимального результата!
      </p>
    </div>
  </div>
</section>
