<section class="about-page about-why">
  <div class="container about-page__container">
    <h2 class="heading-reset about-page__heading">
      Почему <span class="style-italic">мы?</span>
    </h2>
    <div class="about-page__description about-why__description">
      <p class="about-page__paragraph heading-reset">
        Не секрет, что за любую компанию лучше всего говорят отзывы людей.
        Что говорят о нас? Что в Юридической компании «Правовая защита» поддержку чувствуешь с порога!
        Потому что для нас первостепенная задача — помочь клиенту принять ситуацию и начать действовать!
      </p>
      <p class="about-page__paragraph heading-reset">
        Услуги нашей компании созданы и подобраны для клиентов таким образом, чтобы максимально
        удовлетворить их потребности.<br>
        <strong>Спокойна жизнь клиента — наша работа.</strong> Вот она — простая и понятная задача ЮК «Правовая защита».
      </p>
    </div>
  </div>
</section>
