<section class="achievement">
  <div class="container achievement__container">
    <h2 class="heading-reset achievement__heading">Наши достижения</h2>
    <div class="achievement__descr">
      Все наши усилия направлены на достижение клиентами конечного результата. И это не только списание долга, снятие ареста с банковских карт или удобные платежи по кредитам, но и уверенность в себя, а так же новое отношение к жизни в целом . Это бесценно!
    </div>
    <div class="achievement__data">
      <p class="achievement__paragraph achievement__data-1 heading-reset">
        Наша команда за 2 года помогла <span class="achievement__special">более 100 клиентам</span> обрести финансовую свободу
      </p>
      <p class="achievement__paragraph achievement__data-2 heading-reset">
        За это время было списано долгов на сумму <span class="achievement__special">53 миллиона</span> рублей
      </p>
    </div>
    <a href="#" target="_blank" class="btn-reset achievement__btn">Узнать подробнее</a>
</section>
