<section class="agency">
  <div class="container agency__container">
    <h2 class="agency__heading heading-reset">
      Наши представительства
    </h2>
  </div>
  <div class="agency__map">
    <picture>
      <source srcset="/img/map.avif" type="image/avif">
      <source srcset="/img/map.webp" type="image/webp">
      <img loading="lazy" src="/img/map.png" class="agency__image image" width="1920" height="1025" alt="Карта">
    </picture>
    <picture>
      <source srcset="/img/marker.avif" type="image/avif">
      <source srcset="/img/marker.webp" type="image/webp">
      <img loading="lazy" src="/img/marker.png" class="agency__icon moscow" width="55" height="88" alt="маркер">
    </picture>
    <picture>
      <source srcset="/img/marker.avif" type="image/avif">
      <source srcset="/img/marker.webp" type="image/webp">
      <img loading="lazy" src="/img/marker.png" class="agency__icon chelabinsk" width="55" height="88" alt="маркер">
    </picture>
    <picture>
      <source srcset="/img/marker.avif" type="image/avif">
      <source srcset="/img/marker.webp" type="image/webp">
      <img loading="lazy" src="/img/marker.png" class="agency__icon cheboksary" width="55" height="88" alt="маркер">
    </picture>
    <picture>
      <source srcset="/img/marker.avif" type="image/avif">
      <source srcset="/img/marker.webp" type="image/webp">
      <img loading="lazy" src="/img/marker.png" class="agency__icon chita" width="55" height="88" alt="маркер">
    </picture>
    <picture>
      <source srcset="/img/marker.avif" type="image/avif">
      <source srcset="/img/marker.webp" type="image/webp">
      <img loading="lazy" src="/img/marker.png" class="agency__icon rostov" width="55" height="88" alt="маркер">
    </picture>
  </div>
  <div class="agency__info agency-info moscow-info">
    <h4 class="agency-info__heading heading-reset">
      Москва
    </h4>
    <div class="agency-info__name">
      Несытов Владимир Дмитриевич
    </div>
    <a class="agency-info__link" href="tel:+79991204406">+7 999 120-44-06</a>
  </div>
  <div class="agency__info agency-info rostov-info">
    <h4 class="agency-info__heading heading-reset">
      Ростов на Дону
    </h4>
    <div class="agency-info__name">
      Любимова Юлия Аркадьевна
    </div>
    <a class="agency-info__link" href="tel:+79951238198">+7 995 123-81-98</a>
    <a class="agency-info__link" href="mailto:rostov@za-pravo.com">rostov@za-pravo.com</a>
  </div>
  <div class="agency__info agency-info cheboksary-info">
    <h4 class="agency-info__heading heading-reset">
      Чебоксары
    </h4>
    <div class="agency-info__name">
      Афанасьев Анатолий Алексеевич
    </div>
    <a class="agency-info__link" href="tel:+79279986782">+7 927 998-67-82</a>
    <a class="agency-info__link" href="mailto:cheboksary@za-pravo.com">cheboksary@za-pravo.com</a>
  </div>
  <div class="agency__info agency-info chelabinsk-info">
    <h4 class="agency-info__heading heading-reset">
      Челябинск
    </h4>
    <div class="agency-info__name">
      Спицина Светлана Викторовна
    </div>
    <address class="agency-info__address">ул. Свердловский проспект, 84Б, 2 этаж, оф. 202</address>
    <a class="agency-info__link" href="tel:+79511227006">+7 951 122-70-06</a>
  </div>
  <div class="agency__info agency-info chita-info">
    <h4 class="agency-info__heading heading-reset">
      Чита
    </h4>
    <div class="agency-info__name">
      Ефимов Сергей Геннадьевич
    </div>
    <address class="agency-info__address">ул. Богомягкова, 14а, 3 этаж, офис 20 (Торговый центр «Империал»)</address>
    <a class="agency-info__link" href="tel:+79144800070">+7 914 480-00-70</a>
  </div>
</section>
