<section class="agency">
  <div class="agency__container container">
    <h2 class="agency__heading heading-reset">
      Представительства
    </h2>
    <div class="agency__accordion agency__accordion-1 agency-accordion">
      <h3 class="heading-reset agency-accordion__heading">
        Москва
      </h3>
      <div class="agency-accordion__content content">
        <ul class="list-reset content__list">
          <li class="content__item">
            Несытов Владимир Дмитриевич
          </li>
          <li class="content__item">
            <a class="content__email" href="tel:+79991204406">+7(999)-120-44-06</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="agency__accordion agency__accordion-2 agency-accordion">
      <h3 class="heading-reset agency-accordion__heading">
        Ростов на Дону
      </h3>
      <div class="agency-accordion__content content">
        <ul class="list-reset content__list">
          <li class="content__item">
            Любимова Юлия Аркадьевна
          </li>
          <li class="content__item">
            <a class="content__tel" href="tel:+79951238198">+7(995)-123-81-98</a>
          </li>
          <li class="content__item">
            <a class="content__email" href="mailto:rostov@za-pravo.com">rostov@za-pravo.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="agency__accordion agency__accordion-3 agency-accordion">
      <h3 class="heading-reset agency-accordion__heading">
        Чебоксары
      </h3>
      <div class="agency-accordion__content content">
        <ul class="list-reset content__list">
          <li class="content__item">
            Афанасьев Анатолий Алексеевич
          </li>
          <li class="content__item">
            <a class="content__tel" href="tel:+79279986782">+7(927)-998-67-82</a>
          </li>
          <li class="content__item">
            <a class="content__email" href="mailto:cheboksary@za-pravo.com">cheboksary@za-pravo.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="agency__accordion agency__accordion-4 agency-accordion">
      <h3 class="heading-reset agency-accordion__heading">
        Челябинск
      </h3>
      <div class="agency-accordion__content content">
        <ul class="list-reset content__list">
          <li class="content__item">
            Спицина Светлана Викторовна
          </li>
          <li class="content__item">
            <address class="content__address">
              ул. Свердловский проспект, 84Б, 2 этаж, оф. 202
            </address>
          </li>
          <li class="content__item">
            <a class="content__tel" href="tel:+79511227006">+7(951)-122-70-06</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="agency__accordion agency__accordion-5 agency-accordion">
      <h3 class="heading-reset agency-accordion__heading">
        Сочи
      </h3>
      <div class="agency-accordion__content content">
        <ul class="list-reset content__list">
          <li class="content__item">
            Павлова Анна Евгеньевна
          </li>
          <li class="content__item">
            <a class="content__tel" href="tel:+79960661729">+7(996)-066-17-29</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="agency__accordion agency__accordion-6 agency-accordion">
      <h3 class="heading-reset agency-accordion__heading">
        Нижневартовск
      </h3>
      <div class="agency-accordion__content content">
        <ul class="list-reset content__list">
          <li class="content__item">
            Моисеева Ирина Владимировна
          </li>
          <li class="content__item">
            <a class="content__tel" href="tel:+79991415715">+7(999)-141-57-15</a>
          </li>
          <li class="content__item">
            <a class="content__email" href="mailto:njv@za-pravo.com">njv@za-pravo.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="agency__accordion agency__accordion-8 agency-accordion">
      <h3 class="heading-reset agency-accordion__heading">
        Чита
      </h3>
      <div class="agency-accordion__content content">
        <ul class="list-reset content__list">
          <li class="content__item">
            Ефимов Сергей Геннадьевич
          </li>
          <li class="content__item">
            <address class="content__address">
              ул. Богомягкова, 14а, 3 этаж, офис 20 (Торговый центр "Империал")
            </address>
          </li>
          <li class="content__item">
            <a class="content__tel" href="tel:+79144800070">+7(914)-480-00-70</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
