<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__heading heading-reset">
      Наши контакты
    </h2>
    <address class="contacts__address">
      <p class="contacts__country heading-reset">Россия г. Нижний Новгород</p>
      ул. Октябрьской революции, д.43,офис 407
    </address>
    <a class="contacts__email" href="mailto:info@za-pravo.com">info@za-pravo.com</a>
    <div class="contacts__link">
      <a class="contacts__tel" href="tel:+79960069654">+7 996 006 96 54</a>
      <a class="contacts__tel" href="tel:+79960661709">+7 996 066 17 09</a>
    </div>
  </div>
  <div class="contacts__card">
    <div id="map"></div>
  </div>
</section>
