<section class="facts" id="questions">
  <div class="container facts__container">
    <h4 class="facts__subheading heading-reset">
      Разберёмся
    </h4>
    <h2 class="facts__heading heading-reset">
      Что должен знать должник?
    </h2>
    <div class="accordion">
      <h2 class="accordion__heading heading-reset">
        Мифы и факты
      </h2>
      <div id="accordion">
        <h3 class="heading-reset accordion__content-heading">О банках
          <svg class="accordion__cross">
            <use xlink:href="img/sprite.svg#accordion-cross"></use>
          </svg>
        </h3>
        <div class="accordion__content">
          <div class="accrodion__left">
            <div class="accordion-left">
              <h4 class="heading-reset accordion__item-heading">
                Имеют право
              </h4>
              <ul class="accordion__list list-positive list-reset">
                <li class="accordion__item list-positive__item">
                  — Предоставлять информацию о сумме основного долга, и о сумме задолженности.
                </li>
                <li class="accordion__item list-positive__item">
                  — Выходить с предложениями о выкупе долга.
                </li>
                <li class="accordion__item list-positive__item">
                  — Переуступить права требования долга третьим лицам.
                </li>
                <li class="accordion__item list-positive__item">
                  — Заключать договор на обслуживание долга клиента с третьим лицом (если предусмотрено договором кредитования или займа).
                </li>
              </ul>
            </div>
          </div>
          <div class="accordion__right">
            <div class="accordion-right">
              <h4 class="heading-reset accordion__item-heading">
                Не имеют право
              </h4>
              <ul class="accordion__list list-negative list-reset">
                <li class="accordion__item list-positive__item">
                  — Оказывать психологическое воздействие.
                </li>
                <li class="accordion__item  list-positive__item">
                  — Звонить лично должнику с 22:00 до 08:00, и чаще, чем 8 раз в неделю.
                </li>
                <li class="accordion__item list-positive__item">
                  — Угрожать уголовным преследованием.
                </li>
                <li class="accordion__item list-positive__item">
                  — Арестовывать и продавать жильё и автотранспортные средства по договорам займа, в которых не предусмотрен залог имущества.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <h3 class="heading-reset accordion__content-heading mt-35">
          Об органах службы судебных приставов
          <svg class="accordion__cross">
            <use xlink:href="img/sprite.svg#accordion-cross"></use>
          </svg>
        </h3>
        <div>
          <div class="accordion__content">
            <div class="accrodion__left">
              <div class="accordion-left">
                <h4 class="heading-reset accordion__item-heading">
                  Имеют право
                </h4>
                <ul class="accordion__list list-positive list-reset">
                  <li class="accordion__item list-positive__item">
                    — Арестовывать все банковские карты, кроме карт, на которые поступает заработная плата.
                  </li>
                  <li class="accordion__item list-positive__item">
                    — Накладывать арест на имущество, кроме единственного жилья.
                  </li>
                  <li class="accordion__item list-positive__item">
                    — Не чаще, чем один раз в неделю совершать выезд по адресу регистрации должника.
                  </li>
                  <li class="accordion__item list-positive__item">
                    — Прекращать исполнительные производства в связи с признанием должника банкротом, при отмене судебных актов.
                  </li>
                </ul>
              </div>
            </div>
            <div class="accordion__right">
              <div class="accordion-right">
                <h4 class="heading-reset accordion__item-heading">
                  Не имеют право
                </h4>
                <ul class="accordion__list list-negative list-reset">
                  <li class="accordion__item list-positive__item">
                    — Накладывать арест на заработную плату, пенсию.
                  </li>
                  <li class="accordion__item  list-positive__item">
                    — Оставлять на счёте банковских карт сумму меньше, чем прожиточный минимум.
                  </li>
                  <li class="accordion__item list-positive__item">
                    — Посещать должника чаще, чем один раз в неделю.
                  </li>
                  <li class="accordion__item list-positive__item">
                    — Удерживать денежные средства по отменённым судебным актам.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
