<footer class="footer">
  <div class="container footer__container">
    <div class="footer__left">
      <nav class="nav footer__nav footer-nav" title="навигация">
        <ul class="footer-nav__list list-reset">
          <li class="footer-nav__item">
            <a href="/about.html" class="footer-nav__link">
              О нас
            </a>
          </li>
          <li class="footer-nav__item">
            Наши услуги:
            <nav class="service-nav" title="">
              <ul class="service-nav__list list-reset">
                <li class="service-nav__item">
                  <a href="/single.html" class="service-nav__link">
                    Банкротство физических лиц
                  </a>
                </li>
                <li class="service-nav__item">
                  <a href="#" class="service-nav__link">
                    Кредитная реструктуризация
                  </a>
                </li>
                <li class="service-nav__item">
                  <a href="#" class="service-nav__link">
                    Разовая работа
                  </a>
                </li>
              </ul>
            </nav>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__center">
      <nav class="footer-nav" title="">
        <ul class="footer-nav__list list-reset">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">
              Сотрудничество
            </a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">
              Отзывы
            </a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">
              Вопросы
            </a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__right">
      <button class="btn-reset header__btn modal-btn">
        Консультация
      </button>
      <ul class="social list-reset" title="social">
        <li class="social__item">
          <svg class="social__icon social__icon-tel">
            <use xlink:href="img/sprite.svg#tel"></use>
          </svg>
        </li>
        <li class="social__item">
          <a href="https://vk.com/club209064920" target="_blank" class="social__link social__link--vk"
             aria-label="Наша страничка во Вконтакте">
            <svg class="social__icon">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer__link">
        <a class="footer__tel" href="tel:+79960069654">+7 996 006 96 54</a>
        <a class="footer__tel" href="tel:+79960661709">+7 996 066 17 09</a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <a href="/" class="logo logo__footer">
      <picture>
        <source srcset="./img/logo-header.avif" type="image/avif">
        <source srcset="./img/logo-header.webp" type="image/webp">
        <img loading="lazy" src="./img/logo-header.png" class="image footer__logo" width="83" height="83" alt="Логотип">
      </picture>
      <div class="logo__text heading-reset">
        <p class="logo__title heading-reset">
          Юридическая компания
        </p>
        Правовая защита
      </div>
    </a>
    <div class="footer__copyright">
      <a href="offer.pdf" class="footer__offer">Договор публичной оферты</a> 2022 © Все права защищены
    </div>
  </div>
</footer>
