<header class="header header-page header-scroll">
  <div class="container header__container">
    <a href="#" class="logo">
      <picture class="logo__light visually-hidden">
        <source srcset="./img/logo-header.avif" type="image/avif">
        <source srcset="./img/logo-header.webp" type="image/webp">
        <img loading="lazy" src="./img/logo-header.png" class="image header__logo" width="83" height="83" alt="Логотип">
      </picture>
      <picture class="logo__dark">
        <source srcset="./img/logo-dark.avif" type="image/avif">
        <source srcset="./img/logo-dark.webp" type="image/webp">
        <img loading="lazy" src="./img/logo-dark.png" class="image header__logo" width="83" height="83" alt="Логотип">
      </picture>
      <div class="logo__text heading-reset text-scroll">
        <p class="logo__title heading-reset text-scroll">
          Юридическая компания
        </p>
        Правовая защита
      </div>
    </a>
    <nav class="nav header__nav" title="navigation">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="/about.html" class="nav__link text-scroll">
            О нас
          </a>
        </li>
        <li class="nav__item">
          <a href="#services" class="nav__link text-scroll">
            Услуги
          </a>
        </li>
        <li class="nav__item">
          <a href="/partners.html" class="nav__link text-scroll">
            Сотрудничество
          </a>
        </li>
        <li class="nav__item">
          <a href="/reviews" class="nav__link text-scroll">
            Отзывы
          </a>
        </li>
        <li class="nav__item">
          <a href="#questions" class="nav__link text-scroll">
            Вопросы
          </a>
        </li>
        <li class="nav__item">
          <a href="/contacts.html" class="nav__link text-scroll">
            Контакты
          </a>
        </li>
      </ul>
    </nav>
    <button class="btn-reset header__btn modal-btn text-scroll border-scroll">
      Консультация
    </button>
    <button class="burger" aria-label="Открыть меню" data-burger>
      <span class="burger__line bg-black"></span>
      <span class="burger__line bg-black"></span>
      <span class="burger__line bg-black"></span>
    </button>
    <nav class="burger-nav" title="burger-nav">
      <svg class="burger-nav__cross">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
      <ul class="burger-nav__list list-reset">
        <li class="burger-nav__item">
          <a href="/about.html" class="burger-nav__link nav__link">
            О нас
          </a>
        </li>
        <li class="burger-nav__item">
          <a href="#services" class="burger-nav__link nav__link">
            Услуги
          </a>
        </li>
        <li class="burger-nav__item">
          <a href="/partners" class="burger-nav__link nav__link">
            Сотрудничество
          </a>
        </li>
        <li class="burger-nav__item">
          <a href="/reviews" class="burger-nav__link nav__link">
            Отзывы
          </a>
        </li>
        <li class="burger-nav__item">
          <a href="#questions" class="burger-nav__link nav__link">
            Вопросы
          </a>
        </li>
        <li class="burger-nav__item">
          <a href="/contacts" class="burger-nav__link nav__link">
            Контакты
          </a>
        </li>
      </ul>
      <button class="btn-reset burger-nav__btn modal-btn">
        Консультация
      </button>
      <ul class="burger-nav__social burger-social  list-reset" title="social">
        <li class="burger-social__item">
          <svg class="burger-nav__icon burger-nav__tel">
            <use xlink:href="img/sprite.svg#tel"></use>
          </svg>
        </li>
        <li class="burger-social__item">
          <a href="https://vk.com/club209064920" target="_blank" class="social__link social__link--tw"
             aria-label="Наша страничка в Твиттере">
            <svg class="burger-nav__icon">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
