<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <meta name="description" content="ЮК Правовая Защита - юридическая помощь физическим лицам. Миссия компании «Правовая защита» проста — наша работа — ваша спокойная жизнь. Благодаря открытой коммуникации и классному сервису мы научим вас выбираться из «долговой ямы»." />
  <meta name="keywords" content="правовая, защита, помощь, юрист, банкротство, юрист." />
  <meta name="yandex-verification" content="de6466e7efc041d3" />
  <title>ЮК Правовая Защита</title>
  <link rel="preload" href="fonts/opensans-light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/opensans-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/opensans-semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/vollkorn-medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/vollkorn-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/vollkorn-semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="https://api-maps.yandex.ru/2.1/?apikey=ваш_API-ключ&lang=ru_RU"></script>
  <script defer="defer" src="/js/bundle.ae5e5d1663c459a24f3e.js"></script>
  <script defer="defer" src="/js/bundle.02b6801e03333f94f3d4.js"></script>
  <script defer src="/js/main.js"></script>
</head>
