<header class="header agreement__header">
  <div class="container header__container agreement__header-container">
    <a href="#" class="logo">
      <picture class="logo__dark ">
        <source srcset="./img/logo-dark.avif" type="image/avif">
        <source srcset="./img/logo-dark.webp" type="image/webp">
        <img loading="lazy" src="./img/logo-dark.png" class="image header__logo" width="83" height="83" alt="Логотип">
      </picture>
      <div class="agreement__logo-text logo__text heading-reset">
        <p class="agreement__logo-text logo__title heading-reset">
          Юридическая компания
        </p>
        Правовая защита
      </div>
    </a>
    <a class="agreement__link" href="index.html">
      Назад
    </a>
  </div>
</header>
