<section class="cooperation">
  <div class="container cooperation__container">
    <div class="cooperation__block cooperation__block--first">
      <h1 class="heading-reset cooperation__heading">
        Сотрудничество <br>с <span class="style-italic">нами!</span>
      </h1>
      <div class="cooperation__description">
        Для тиражирования наших услуг и принципов работы, мы готовы в любом регионе развивать агентскую сеть,
        выстраивать
        партнерские отношения, а также готовы помочь развить собственный бизнес, предоставив наши технологии, шаблоны
        документов и поделимся нашим бесценным опытом.
      </div>
    </div>
    <div class="cooperation__block cooperation__block--second">
      <h2 class="heading-reset cooperation__heading">
        Агент
      </h2>
      <div class="cooperation__description">
        Работа агента может стать дополнительным доходом. Агент передает нам контакты людей
        с высокой долговой нагрузкой и потребностью решать вопрос выхода из долговой ямы. Остальное мы делаем сами —
        консультируем, разбираем ситуацию клиента, подбираем технологию решения его проблемы, заключаем договор.
        Мотивация от каждого заключенного договора в виде 50% от первого платежа по договору.
      </div>
    </div>
    <div class="cooperation__block cooperation__block--third">
      <h2 class="heading-reset cooperation__heading">
        Партнёрство
      </h2>
      <div class="cooperation__description">
        Партнерство потребует полного погружения в продукты компании. Для этого мы обучим будущего партнера как
        продуктам, так и продажам. Научим помогать людям, подбирать варианты решения проблем. После обучения, партнер
        начинает формировать собственный клиентский портфель.
        Работа по сопровождению клиентов остается за нами. Партнер ищет клиентов, консультирует, заключает договор и
        передает на сопровождение нам. В таком формате сотрудничества мотивация партнера будет ежемесячной и составит
        40% от выручки.
      </div>
    </div>
    <div class="cooperation__block cooperation__block--fourth">
      <h2 class="heading-reset cooperation__heading">
        Бизнес под ключ
      </h2>
      <div class="cooperation__description">
        При приобретении бизнеса, мы проведем обучение потенциального покупателя, предоставим бланки документов,
        дорожные карты и будем поддерживать его на уровне консультаций.
        При такой форме сотрудничества покупатель самостоятельно ищет клиентов, консультирует, заключает договоры и
        сопровождает клиента. Всему научим, подскажем и поддержим.
        Оплата за все обучающие и практические материалы единоразовая.
      </div>
    </div>
  </div>
</section>
