<section class="quote">
  <div class="container quote__container">
    <div class="quote__content">
      <h2 class="heading-reset quote__heading">
        <span class="single-quote">“</span><span class="color-gold">Секрет успеха</span> прост — видеть цель, верить в
        себя и не замечать преград!”
      </h2>
    </div>
    <div class="quote__subscribe">
      <div class="quote__single">
        <div class="quote__author">
          — Панькова Наталья Юрьевна
        </div>
        <div class="quote__descr">
          руководителя ЮК «Правовая защита»
        </div>
      </div>
      <picture class="quote__photo">
        <source srcset="./img/quote-foto-1024.avif" type="image/avif" media="(max-width: 1180px)">
        <source srcset="./img/quote-foto-1024.webp" type="image/webp" media="(max-width: 1180px)">
        <source srcset="./img/quote-foto.avif" type="image/avif">
        <source srcset="./img/quote-foto.webp" type="image/webp">
        <img loading="lazy" src="./img/quote-foto.png" class="image" width="195" height="195" alt="Портрет">
      </picture>
    </div>
  </div>
</section>
