<section class="quote">
  <div class="container quote__container">
    <div class="quote__content">
      <h2 class="heading-reset quote__heading">
        «Банкротство – это законная процедура, в ходе которой вы перекладываете деньги в брючный карман и отдаете пиджак кредиторам».
      </h2>
      <div class="quote__author">
        — Тристан Бернар
      </div>
      <div class="quote__descr">
        Любимая цитата Паньковой Натальи Юрьевны, руководителя ЮК «Правовая защита»
      </div>
    </div>
    <picture class="quote__photo">
      <source srcset="./img/quote-foto.avif" type="image/avif">
      <source srcset="./img/quote-foto.webp" type="image/webp">
      <img loading="lazy" src="./img/quote-foto.png" class="image" width="195" height="195" alt="Портрет">
    </picture>
  </div>
</section>
