<section class="request" id="request">
  <div class="container request__container">
    <h2 class="request__heading heading-reset">
      <span class="request__text">
        Готовы избавиться от долгов
      </span> и начать новую жизнь — заполните форму, и мы с вами свяжемся!
    </h2>
    <form action="#" class="request__form form form-main" method="POST">
      <label class="form__label form-main__label form-main__label-name">
        <input class="form-main__name form-main__input input-reset input input-name" type="text" data-validate-field="name" name="Имя" placeholder="Введите имя">
      </label>
      <label class="form__label form-main__label form-main__label-tel">
        <input class="form-main__tel form-main__input input-reset input input-tel" type="tel" data-validate-field="tel" name="Телефон"
          placeholder="Введите телефон">
      </label>
      <button class="button form-main__submit btn-reset">Отправить</button>
    </form>
    <div class="request__agreement">
      Нажимая на кнопку "Отправить", вы соглашаетесь на обработку <a href="#" class="request__link">персональных данных</a>
    </div>
  </div>
</section>
