<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <h2 class="heading-reset reviews__heading">
      <span class="reviews__text">итории</span> наших клиентов
    </h2>
    <div class="swiper reviews__swiper reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide reviews-swiper__slide">
          <picture class=" reviews-swiper__picture">
            <source srcset="./img/1-review.avif" type="image/avif">
            <source srcset="./img/1-review.webp" type="image/webp">
            <img loading="lazy" src="./img/1-review.png" class="image" width="105" height="105" alt="Портрет">
          </picture>
          <div class="reviews-swiper__name">
            Нина Владимировна
          </div>
          <div class="reviews-swiper__age">
            61 год
          </div>
          <div class="reviews-swiper__story">
            К нам обратилась  пенсионерка, оставшаяся без средств к существованию, в тот момент, когда приставы арестовали банковскую карту, на которую приходит пенсия. Кредиторы настаивали на погашении долга
            и оказывали психологическое воздействие. Нина Владимировна старалась справиться самостоятельно,
            и на тот момент, не знала, что ситуацией можно управлять. И вот результат  —  арест карты.
            В процессе нашей работы арест был снят, пенсия обладает иммунитетом.
            Мы отменили все судебные приказы, возразили на требования кредиторов,
            и прекратили все исполнительные производства.

          </div>
          <div class="reviews-swiper__final">
            В итоге, пенсию Нина Владимировна получает в полном объеме.
            Права Нины Владимировны восстановлены, работа продолжается и ситуация под контролем!
          </div>
        </div>
        <div class="swiper-slide reviews-swiper__slide">
          <picture class=" reviews-swiper__picture">
            <source srcset="./img/2-review.avif" type="image/avif">
            <source srcset="./img/2-review.webp" type="image/webp">
            <img loading="lazy" src="./img/2-review.png" class="image" width="105" height="105" alt="Портрет">
          </picture>
          <div class="reviews-swiper__name">
            Сергей Павлович
          </div>
          <div class="reviews-swiper__age">
            48 лет
          </div>
          <div class="reviews-swiper__story">
            <p class="heading-reset">
              Сумма долга более 1 млн. рублей.
            </p>
            Вынужденные меры изоляции, вызванные пандемией в 2020 г. лишили его дополнительного заработка. Сергей
            Павлович обратился к нам очень вовремя, и мы смогли весь процесс работы с долгом выстроить в рамках закона.
            Сергей Павлович перестал оплачивать кредиты, и мы начали собирать необходимые документы для Арбитражного
            суда. Одновременно с этим, мы не забыли напомнить кредиторам о правах, которые есть у Сергея. До того
            момента, как банки принесли исполнительные листы приставам, Сергей Павлович был признан банкротом, и в
            скором времени освобожден от требований банков.
          </div>
          <div class="reviews-swiper__final">
            Долги списаны, и Сергей начал новую жизнь!
          </div>
        </div>
        <div class="swiper-slide reviews-swiper__slide">
          <picture class=" reviews-swiper__picture">
            <source srcset="./img/3-review.avif" type="image/avif">
            <source srcset="./img/3-review.webp" type="image/webp">
            <img loading="lazy" src="./img/3-review.png" class="image" width="105" height="105" alt="Портрет">
          </picture>
          <div class="reviews-swiper__name">
            Ольга Владимировна
          </div>
          <div class="reviews-swiper__age">
            35 лет
          </div>
          <div class="reviews-swiper__story">
            <p class="heading-reset">Женщина была в отчаянии.</p> У нее уже имелись просроченные платежи по 51 займу в
            микрофинансовых организациях. Она пришла в нашу компанию и не верила, что ей сможет кто-то помочь. Главным
            было научить Ольгу принять ситуацию, перестать бояться и начать действовать На данный момент кредиторы
            прекратили прессинг Ольги Владимировны. Микрофинансовые организации начали фиксировать суммы долга в судах.
          </div>
          <div class="reviews-swiper__final">
            Работы впереди много, но первое чего мы добились — это спокойствие клиента.
            Конечная цель — это оплата долга, теми суммами, на которые способен клиент!
          </div>
        </div>
      </div>
      <div class="slider-navigation reviews-swiper__navigation">
        <div class="arrow-wrapper">
          <svg class="slider-navigation__arrow reviews-swiper__arrow-bw" tabindex="0">
            <use xlink:href="img/sprite.svg#arrow-fw"></use>
          </svg>
        </div>
        <div class="arrow-wrapper">
          <svg class="slider-navigation__arrow reviews-swiper__arrow-fw" tabindex="0">
            <use xlink:href="img/sprite.svg#arrow-fw"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
