<section class="services" id="services">
  <div class="container services__container">
    <div class="services__head">
      <h2 class="heading-reset services__heading">
        услуги
      </h2>
      <div class="services__buttons">
        <div class="arrow-wrapper arrow-wrapper__prev">
          <svg class="slider-navigation__arrow services-swiper__arrow-bw">
              <use xlink:href="img/sprite.svg#arrow-fw"></use>
          </svg>
        </div>
        <div class="arrow-wrapper arrow-wrapper__next">
          <svg class="slider-navigation__arrow services-swiper__arrow-fw">
              <use xlink:href="img/sprite.svg#arrow-fw"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper services__swiper services-slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide services-slider__slide services-slider__slide-1">
           <article class="service-card service__card">
             <div class="service-card__head">
               <svg class="service-card__icon">
                   <use xlink:href="/img/sprite.svg#bfl"></use>
               </svg>
               <h3 class="service-card__heading heading-reset services-slider__heading">
                 Банкротство физических лиц
               </h3>
             </div>
             <div class="heading-reset service-card__descr">
               Помощь в освобождении от долговых обязательств. Признание физического лица временно неплатежеспособным.
             </div>
             <a class="service-card__link" href="/single.html">Подробнее</a>
           </article>
         </div>
         <div class="swiper-slide services-slider__slide services-slider__slide-2">
           <article class="service-card service__card">
             <div class="service-card__head">
               <svg class="service-card__icon">
                 <use xlink:href="/img/sprite.svg#kr"></use>
               </svg>
               <h3 class="service-card__heading heading-reset services-slider__heading">
                 Кредитная реструктуризация
               </h3>
             </div>
             <div class="heading-reset service-card__descr">
               Помощь в изменении срока кредита
               и ежемесячного платежа. Увеличиваем срок кредита — снижаем нагрузку.
             </div>
             <a class="service-card__link" href="/single.html">Подробнее</a>
           </article>
         </div>
         <div class="swiper-slide services-slider__slide services-slider__slide-3">
           <article class="service-card service__card">
             <div class="service-card__head">
               <svg class="service-card__icon">
                 <use xlink:href="/img/sprite.svg#single-service"></use>
               </svg>
               <h3 class="service-card__heading heading-reset services-slider__heading">
                 Разовая работа
               </h3>
             </div>
             <div class="heading-reset service-card__descr">
               — Консультация юриста<br>
               — Оспаривание требований кредитора<br>
               — Онлайн консультация<br>
             </div>
             <a class="service-card__link" href="/single.html">Подробнее</a>
           </article>
         </div>
      </div>
      <div class="swiper-pagination services-slider__pagination"></div>
    </div>
  </div>
</section>
