<section class="services" id="services">
  <div class="container services__container">
    <h2 class="heading-reset services__heading">
      услуги
    </h2>
    <div class="swiper services__swiper services-slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide services-slider__slide services-slider__slide-1">
           <h3 class="heading-reset services-slider__heading mw-200">
            Освобождение от долгов
           </h3>
           <div class="heading-reset services-slider__descr">
            Полное списание долга
           </div>
         </div>
         <div class="swiper-slide services-slider__slide services-slider__slide-2">
           <h3 class="heading-reset services-slider__heading">
            Удобный платёж по кредитам
           </h3>
           <div class="heading-reset services-slider__descr">
            Оплата кредитов не более 50% от получаемого дохода
           </div>
         </div>
         <div class="swiper-slide services-slider__slide services-slider__slide-3">
           <h3 class="heading-reset services-slider__heading">
            Снятие ареста с банковских карт
           </h3>
           <div class="heading-reset services-slider__descr">
            Выпалата заработной платы и пенсии в полном объёме
           </div>
         </div>
         <div class="swiper-slide services-slider__slide services-slider__slide-4">
           <h3 class="heading-reset services-slider__heading">
            Взаимодействие с судебным приставом и судебными органами
           </h3>
           <div class="heading-reset services-slider__descr">
            Представление интересов клиента
           </div>
         </div>
      </div>
    </div>
    <button class="btn-reset services__btn modal-btn">
      Консультация
    </button>
    <div class="slider-navigation">
      <svg class="swiper-button-prev slider-navigation__arrow slider-navigation__arrow-bw" tabindex="0">
        <use xlink:href="img/sprite.svg#arrow-bw"></use>
      </svg>
      <svg class="swiper-button-next slider-navigation__arrow slider-navigation__arrow-fw" tabindex="0">
        <use xlink:href="img/sprite.svg#arrow-fw"></use>
      </svg>
    </div>
  </div>
</section>
